2. Adding a close button at the top right corner of the modal. Exactly on the corner.
3. Replace light blue with light gold and dark blue (on hover) with dark gold.
4. Small settings button. Make it do the same as large settings button.
5. When sm or xs hide small settings button.
6. Proper spacing/padding in modal tabs.
7. Generalize ids and classes for surahs, pages and juz: Don't use Al-Faatiha, Al-Bararah, etc. or juz-2 or page-16.